@font-face {
    font-family: "ctcspanish";
    src: url(../fonts/ctcspanish.otf);
}

body {
    /*
    background-color: #81D4FA;*/
    background-color: #e7ebf4;
    font-family: "ctcspanish";
    padding: 0 20px;
}

.offers-contaier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.offer {
    /*width: calc(100vw-20px);*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.offer__title {
    margin-top: 20px;
}

.offer__title h1{
    font-size: 40px;
    color:#22252d;
    
}

.offer__action h2{
    font-size: 24px;
    color:#f44336;
}

.offer__img img {
    width: 70%;
    height: auto;
}

.offer__more {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.more-but {
    background-color: #ff9000;
    border:0;
    outline: 0;
    box-shadow: 1px 1px 2px #EF6C00;
    padding: .375rem .75rem;
    color:white !important;
    text-decoration: none !important;
}

.more-but:active {
    background-color: #EF6C00 !important;
}


@media screen and (orientation:landscape) {
    .offer__img img {
        width:30%;
    }
    .offer:not(:first-child) {
        margin: 150px 0;
    }
    .offer:last-child {
        margin-bottom: 0;
    }
}