@font-face {
    font-family: "ctcspanish";
    src: url(../fonts/ctcspanish.otf);
}

body {
    /*
    background-color: #81D4FA;*/
    background-color: #e7ebf4;
    font-family: "ctcspanish";
}

/* body.fp-viewing-0 header {
    opacity: 1;
    max-height: 300px;
    padding: 10px 20px;
} */

header {
    background-color: #10ab5e;
    display: flex;
    align-items: center;
    color:white;
    padding: 10px 20px;
    /* opacity: 0;
    max-height: 0;
    padding: 0; */
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    /* transition: opacity .0s linear, max-height .0s ease-in, padding .0s linear; */
}

.header__logo {
}

.header__logo img {
    height: 35px;
}

header address {
    margin: 0;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adress__city .city__name {
}

.adress__number {
    color:white;
    font-size: 18px;
}

.offers-contaier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.offer {
    /*width: calc(100vw-20px);*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-size: cover;
}

.offer__title {
    margin-top: 20px;
}

.offer__title h1{
    font-size: 40px;
    color:#fff;
    
}

.offer__action {
    padding: 0 10px;
}

.offer__action h2{
    font-size: 24px;
    color:#EEEEEE;
}


.offer__more {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

@media (orientation: landscape) {
    .offer__more {
        margin-top: 20px;
    }

    .offer:first-child .offer__title{
        margin-top: 60px;
    }
}

.offer__more .more__agree {
    margin-top: 5px;
    color:#90A4AE;
    font-size: 12px;
}

.offer__more .more__agree a{
    text-decoration: underline;
    color:inherit;
}

.more-but {
    background-color: #10ab5e;
    border:0;
    outline: 0;
    box-shadow: 1px 1px 2px #2E7D32;
    padding: .700rem .75rem;
    color:white !important;
    text-decoration: none !important;
    width: 60%;
}

.get-but {
    background-color: #10ab5e;
    border:0;
    outline: 0;
    box-shadow: 1px 1px 2px #2E7D32;
    padding: .375rem .75rem;
    color:white !important;
    text-decoration: none !important;
    width: 100%;
}

.more-but:active {
    background-color: #2E7D32 !important;
}

.more__btns {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.get-price-but {
    margin-right: 10px;
    background-color: #F9A825;
    border:0;
    outline: 0;
    box-shadow: 1px 1px 1px #F9A825;
    padding: .700rem .75rem;
    color:white !important;
    text-decoration: none !important;
    margin-bottom: 10px;
    width: 60%;
}

.offer:nth-child(1) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../img/technic.jpg);
    background-position-x: 50%;
}

@media (orientation: landscape) {
    /* .offer:nth-child(1) .offer__title{
        margin-top: -65px;
    } */

    .offer:nth-child(1) .offer__title h1{
        font-size: 32px;
    }
}

.offer:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../img/premium.jpg);
}

.offer:nth-child(3) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../img/svai.jpg);
}

.offer:nth-child(6) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../img/reconstruction.JPG);
}

.offer:nth-child(3) .offer__title h1 {
    font-size: 64px;
}

.form-consult {
    background-color: #10ab5e;

}

.form-consult .wrapper {
    height: calc(100% - 40px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin:20px;
}

.form-consult .form-consult__title h1{
    font-weight: bold;
}
.form-consult__options {
    margin-top: 20px;
}
.form-consult__options .options__item{
    text-align: left;
    position: relative;
}

.form-consult__options .options__item i{
    color:#10ab5e;
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
}

.options__item .item__description {
    margin-left: 30px;
}

.form-consult .form-consult__inputs {
    width: 100%;
    padding: 0 18px;
    margin-top: 20px;
}

.form-consult .form-consult__inputs i {
    color:#10ab5e;
}

.form-consult .form-consult__inputs input {
    border-left: 0;
}

.form-consult .form-consult__inputs .input-group-text {
    background-color: transparent;
    border-right: 0;
}

.form-consult .form-consult__inputs .input-group {
    margin-top: 10px;
}
.form-consult .form-consult__inputs .input-group label {
    text-align: left;
}

/* Customize the label (the container) */
.container-checkbox {
    display: block;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border:1px solid #ced4da;
  }
  
  
  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked ~ .checkmark {
    
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #10ab5e;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  @media screen and (max-height:500px) {
    .form-consult__options {
        display: none !important;
    }

    .form-consult .wrapper {
        justify-content: flex-start !important;
    }
  }

  @media (orientation: landscape) {
    .form-consult__options {
        width: 100%;
        padding: 0 20px;
        display: flex;
        margin-top: 0px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .form-consult__options .options__item{
        flex-basis: 50%;
    }

    .form-consult__options .options__item .item__description{
        font-size: 14px;
        margin-left: 35px;
    }

    .form-consult .form-consult__inputs .input-group {
        margin-top: 0px;
    }

    .checkbox-inp-group {
        margin-top: 5px !important;
    }

    .form-consult .form-consult__inputs .name-phone-wrapper {
        display: flex;
    }

    .form-consult .form-consult__inputs {
        margin-top: 5px;
    }
    .form-consult .form-consult__inputs .name-phone-wrapper .input-group:last-child {
        margin-left: 15px;
    }

  }

  .advantages {
      background-image: url(../img/advantages.PNG);
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
  }

  .uslugi {
      background-image: url(../img/uslugi.PNG);
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
  }

  footer {
      background-color: #67666c;
      padding: 0 20px;
      color:#fff;
  }

  footer a {
      color:#fff;
  }

  .footer__phone {
      font-size: 24px;
  }

  .footer__adress {
      margin-top: 15px;
  }

  .footer__icons a{
    margin-right: 15px;
  }

  .footer__icons {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom__left {
      width:50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -10px;
      margin-right: 10px;
  }

  .footer__bottom {
      display: flex;
      align-items: center;
      justify-content: space-around;
  }

  .footer__logo {
      width: 100%;
  }
  .footer__logo img{
    width: 100%;
  }

  @media (orientation: landscape) {
    footer p {
        margin: 0px;
    }

    .footer__wrapper {
        display: flex;
    }

    .footer__top {
        width:50%;
    }
    .footer__bottom {
        width:50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

  }

.modal-open .modal {
    display: flex!important;
    align-items: center!important;
}

.modal-open .modal .modal-dialog {
    flex-grow: 1;
}

.disabled {
    opacity: 0.5;
    background-color: #90A4AE;
    box-shadow: none;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #10ab5e !important;
    border-color:#10ab5e !important;
    outline: 0 !important;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    background-color: #10ab5e !important;
    border-color: #10ab5e !important;
    outline: 0 !important;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.calculate-section__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:auto;
}
.calculate-section__wrapper h1 {
    font-size: 2rem;
    font-weight: bold;
}

.custom-control.custom-radio {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.calculate-section__group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    width:150px;
}


.calculate-section__group input {
    width: 50px;
}

#calc-but {
    margin-top: 10px;
}

.calc-group {
    display: flex;
    flex-direction: column;
}

@media (orientation: landscape) {
    .foundament-for-wrapper{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .custom-control.custom-radio {
        margin-left: 10px;
    }

    .calc-group {
        flex-direction: row;
    }
}

.flamp-icon {
    display: block;
    width: 30px;
    height: 25px;
    background-image: url(../img/flamp.png);
    background-size: contain;
}

@media screen and (max-height:420px) {
    .foundament-for-wrapper,.foundament-for-p {
        display: none;
    }
}

#arrow-bot {
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%,-50%);
}

@media screen and (max-height:600px) {
    #arrow-bot {
        position: absolute;
        bottom: 0;
        left:50%;
        transform: translate(-50%,-2%);
    }
}

@media (orientation: landscape) {
    #arrow-bot {
        display: none;
    }
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  
  .page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @-moz-keyframes pulse {
    0% {
      -moz-transform: scale(1);
      transform: scale(1);
    }
  
    50% {
      -moz-transform: scale(1.2);
      transform: scale(1.2);
    }
  
    100% {
      -moz-transform: scale(1);
      transform: scale(1);
    }
  }
  
  .btn-circle {
    width: 90px;
    height: 90px;
    border-radius: 60px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
  }
  
  .btn-circle:hover, .btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
  }